@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  font-family: 'Raleway', sans-serif;
}

header {
  background-color: #e2231b;
  color: white;
  text-align: center;
  font-size: 30px;
}

.nav-pills .nav-link.active {
  background-color: #383838;
  color: white;
}

.nav-item {
  background-color: rgba(0,0,0,.03);
  border: 1px solid grey;
  border-left: none;
  margin-bottom: 20px;
}

.nav-pills .nav-link {
  color: black;
  border-radius: 0px;
}

.nav-link:hover {
  background-color: #adadad;
  text-decoration: underline;
  color: black;
  border-radius: 0px;
}

.add {
  float: right;
}

h1 {
  display: inline-block;
}

.panel-title > a:before {
  padding: .75rem 1.25rem;
  float: right !important;
  font-family: FontAwesome;
  content: "\f068";
  padding-left: 0px;
  padding-right: 10px;
}

.panel-title > a.collapsed:before {
  float: right !important;
  content: "\f067";
}

.card-header {
  padding: 0px;
}

.card-header .row{
  padding: .75rem 1.25rem;
}

.card-header:hover {
  background-color: #adadad;
}

.card-header a {
  color: black;
}

.card-header a:hover {
  text-decoration: none;
}

.card-block {
  padding: 20px;
}

.class-info-header {
  display: inline-block;
}

textarea {
  resize: none;
}

.form-group {
  display: inline-block;
}

.form-control {
  width: 230px;
  margin-right: 20px;
}

.day {
  display: inline-block;
  margin-right: 20px;
}

.description {
  display: block;
}

#description {
  width: 100%;
}