@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css");

body {
  font-family: 'Raleway', sans-serif;
}

#banner {
  width: 100%;
}

.header {
  width: 100%;
  height: 50px;
  font-size: 30px;
  background-color: #e2231b;
  text-align: center;
  line-height: 50px;
}

.header a {
  color: white;
}

.header a:hover {
  color: white;
}

#container {
  width: 100%;
}

#sidebar {
  padding: 20px;
  float: right;
  width: 30%;
  position: fixed;
  z-index: 1;
  display: inline-block;
  position: relative;
  background-color: #383838;
  color: white;
}

#content {
  float: left;
  width: 70%;
  display: inline-block;
  overflow-y: auto;
  padding: 30px;
  color: black;
}

.link {
  color: white;
  display: block;
  text-decoration: underline!important;
}

.link:hover {
  text-decoration: none!important;
  color: white;
}

.panel-title > a:before {
  padding: .75rem 1.25rem;
  float: right !important;
  font-family: FontAwesome;
  content: "\f068";
  padding-left: 0px;
  padding-right: 10px;
}

.panel-title > a.collapsed:before {
  float: right !important;
  content: "\f067";
}

.card-header {
  padding: 0px;
}

.card-header .row{
  padding: .75rem 1.25rem;
}

.card-header:hover {
  background-color: #adadad;
}

.card-header a {
  color: black;
}

.card-header a:hover {
  text-decoration: none;
}

.class-info-header {
  display: inline-block;
}

.align-right {
  text-align: right;
}

.table-heading {
  padding-right: 25px;
  width: 98%;
  font-size: 20px;
  font-weight: bold;
}

.align-center {
    text-align: center;
}

.card-block {
  padding: 20px;
  background-color: #fdfdfd;
}

span {
  display: block;
}

.class-description {
  margin-top: 10px;
}

.signup {
  background-color: #e2231b;
  color: white;
  float: right;
}

.signup:hover {
  background-color: #a80903;
}

#social {
  margin-top: 20px;
  text-align: center;
}

.social-icons {
  font-size: 40px;
  color: white;
  padding: 10px;
}

.social-icons:hover {
  color: lightgray;
  text-decoration: none;
}

.payment-method {
  display: inline-block;
  width: auto;
  margin-right: 20px;
}

.payment-method-label {
  display: inline-block;
}

.details {
  color: 
}

#details-btn {
  position: absolute;
  right: 2%;
  font-size: 12px;
  margin-top: 5px;
}

#more-info {
  display: none;
}

h4 {
  line-height: 40px;
}

.mobile-show {
  display: none;
}

.mobile-hide {
  display: show;
}

#instructors {
  width: 90%;
  margin: auto;
}
.instructor {
  background-color:#f7f7f7;
  border-radius: 5px;
  margin-bottom: 20px;
}

.instructor_img {
  width: 150px;
  height: 150px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: inline-block;
}

.i_image_container {
  text-align: center;
}

.i_name {
  margin-top:5px;
  font-size:20px;
  text-align: center;
}

.i_bio {
  margin-bottom:10px;
}

@media screen and (max-width: 800px) {
  #sidebar {
    width: 100%;
    display: none;
  }
  
  #content {
    width: 100%;
    float: none;
    padding: 20px;
  }
  
  #more-info {
    background-color: #383838;
    color: white;
    height: 40px;
    display: block;
  }
  
  h3 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .mobile-show {
    display: block;
  }
  
  .mobile-hide {
    display: none;
  }
  
  .signup {
    font-size: 14px;
  }
}