<!doctype html>
<html lang="en" ng-app="mueller-sign-up">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/admin.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Mueller Center</title>
  </head>
  <body ng-controller="controller">
    <header>Mueller Center Fitness Admin Panel</header>
    <nav class="nav nav-pills nav-fill">
      <div class="nav-item nav-link active" ng-model="classes" ng-click="changeTab($event, 'c')">Classes</div>
      <div class="nav-item nav-link" ng-model="instructors" ng-click="changeTab($event, 'i')">Instructors</div>
      <div class="nav-item nav-link" ng-model="members" ng-click="changeTab($event, 'm')">Members</div>
    </nav>
    <div id="classes" class="container tab" ng-show="classes">
      <h1>Classes</h1>
      <div class="alert alert-danger" ng-repeat="alert in alertList">{{alert}}</div>
      <form ng-submit="submitEditClass()">
        <div class="form-group">
          <select ng-model="editClass" name='edit' class='form-control edit-class'>
            <option class="form-control" ng-repeat="class in class_information" value="{{$index}}" name="{{class.name}}">{{class.name}}</option>
          </select>
          <input type="submit" class="btn btn-primary" value="Edit Class">
        </div>
      </form>
      <div>
        <div class="card">
          <form class="card-block">
            <div class="form-group">
              <label for="class-name" class="form-control-label">Class:</label>
              <input type="text" class="form-control" id="class-name" name="class-name" ng-model="className">
            </div>
            <div class="form-group">
              <label for="instructor-name" class="form-control-label">Instructor:</label>
              <select ng-model="instructorName" name='instructor' class='form-control'>
                <option class="form-control" ng-repeat="instructor in instructor_accounts" value="{{instructor._id}}">{{instructor.first_name}} {{instructor.last_name}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="room" class="form-control-label">Room:</label>
              <input type="text" class="form-control" id="room" name="room" ng-model="classRoom">
            </div>
            <br/>
            <div class="form-group">
              <label for="start-time" class="form-control-label">Start Time:</label>
              <input type="time" class="form-control" id="start-time" name="start-time" ng-model="classStart" placeholder="HH:mm">
            </div>
            <div class="form-group">
              <label for="end-time" class="form-control-label">End Time:</label>
              <input type="time" class="form-control" id="end-time" name="end-time" ng-model="classEnd">
            </div>
            <div class="form-group">
              <label for="class-type" class="form-control-label">Type:</label>
              <select ng-model="classType" name='class-type' class='form-control'>
                <option class="form-control" value="Fitness">Fitness</option>
                <option class="form-control" value="Enrichment">Enrichment</option>
              </select>
            </div>
            <br/>
            <div class="form-group">
              <strong>Day(s):</strong><br/>
              <div class="day">
                <input type="checkbox" value="Monday" name="monday" ng-model="monday">
                <label for="monday">Monday</label>
              </div>
              <div class="day">
                <input type="checkbox" value="Tuesday" name="tuesday" ng-model="tuesday">
                <label for="tuesday">Tuesday</label>
              </div>
              <div class="day">
                <input type="checkbox" value="Wednesday" name="wednesday" ng-model="wednesday">
                <label for="wednesday">Wednesday</label>
              </div>
              <div class="day">
                <input type="checkbox" value="Thursday" name="thursday" ng-model="thursday">
                <label for="thursday">Thursday</label>
              </div>
              <div class="day">
                <input type="checkbox" value="Friday" name="friday" ng-model="friday">
                <label for="friday">Friday</label>
              </div>
              <div class="day">
                <input type="checkbox" value="Saturday" name="saturday" ng-model="saturday">
                <label for="saturday">Saturday</label>
              </div>
              <div class="day">
                <input type="checkbox" value="Sunday" name="sunday" ng-model="sunday">
                <label for="sunday">Sunday</label>
              </div>
            </div>
            <div class="form-group col-sm-12 col-md-8 col-lg-6 pl-0">
              <label for="description" class="form-control-label">Description:</label>
              <textarea type="text" class="form-control" id="description" name="description" ng-model="classDescription">{{class.description}}</textarea>
            </div>
            <div class="btn-container">
              <button class="btn btn-primary" ng-click="addOrEdit()">{{buttonState}}</button>
              <button class="btn btn-warning" data-toggle="modal" data-target="#confirm-archive" ng-show="editing">Archive</button>
              <button class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete" ng-show="editing">Delete</button>
              <span ng-show="verifyAdded">Added!</span>
              <span ng-show="verifyUpdated">Updated!</span>
            </div>
          </form>
        </div>
      </div>
<!--
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card" ng-repeat="class in class_information">
          <div class="card-header" role="tab" id="heading{{class.name}}">
            <h5 class="mb-0 panel-title">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse{{class.name}}" aria-expanded="false" aria-controls="collapse{{class.name}}">
                <div class='row'>
                  <div class='class-info-header col-sm-12 col-md-12 col-lg-12'>{{class.name}}</div>
                </div>
              </a>
            </h5>
          </div>
          <div id="collapse{{class.name}}" class="collapse card-border" role="tabpanel" aria-labelledby="heading{{class.name}}">
            <div class="card-block">
              <form>
                <div class="form-group">
                  <label for="class-name" class="form-control-label">Class:</label>
                  <input type="text" class="form-control" id="class-name" name="class-name" value="{{class.name}}" required>
                </div>
                <div class="form-group">
                  <label for="instructor-name" class="form-control-label">Instructor:</label>
                  <select ng-model="inst" name='inst' class='form-control'>
                    <option class="form-control" selected="Pending=='{{class.instructor}}'">Pending</option>
                    <option class="form-control" ng-repeat="instructor in instructor_names" ng-selected="'{{instructor.name}}'=='{{class.instructor}}'" value="instructor.name">{{instructor.name}}</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="room" class="form-control-label">Room:</label>
                  <select ng-model="roomNum" name='rooms' class='form-control'>
                    <option class="form-control" ng-repeat="room in rooms" ng-selected="{{class.room}}=={{room}}" value="{{room}}" name="room{{room}}">Room {{room}}</option>
                  </select>
                </div>
                <br/>
                <div class="form-group">
                  <label for="start-time" class="form-control-label">Start Time:</label>
                  <input type="time" class="form-control" id="start-time" name="start-time" value="{{class.start_time}}" required>
                </div>
                <div class="form-group">
                  <label for="end-time" class="form-control-label">End Time:</label>
                  <input type="time" class="form-control" id="end-time" name="end-time" value="{{class.end_time}}" required>
                </div>
                <br/>
                <div class="form-group">
                  <strong>Day(s):</strong><br/>
                  <div class="day" ng-repeat="day in weekdays">
                    <input type="checkbox" value="{{day}}" name="{{day}}" ng-checked='checkArray({{class.days}}, "{{day}}")'>
                    <label for="{{day}}">{{day}}</label>
                  </div>
                </div>
                <div class="form-group col-sm-12 col-md-8 col-lg-6 pl-0">
                  <label for="description" class="form-control-label">Description:</label>
                  <textarea type="text" class="form-control" id="description" name="description" required>{{class.description}}</textarea>
                </div>
                <div class="btn-container">
                  <button class="btn btn-primary">Save Changes</button>
                  <button class="btn btn-danger" ng-click="deleteObject(class.name)" data-toggle="modal" data-target="#confirm-delete">Delete</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
-->
    </div>
    <div id="instructors" class="container tab" ng-show="instructors">
      <h1>Instructor Accounts</h1>
      <button class="btn btn-primary add-inst" data-toggle="modal" data-target="#add-account">Create New Instructor Account</button>
      <div class='account row border' ng-repeat='account in instructor_accounts'>
        <div class='col-sm-12 col-md-6 col-lg-6'>
          <div><strong>Name: </strong>{{account.first_name}} {{account.last_name}}</div>
          <div><strong>Email: </strong>{{account.email}}</div>
          <strong>Classes:</strong>
          <ul class='inst-classes'>
            <li ng-repeat='class in account.classes'>{{class.name}}</li>
          </ul>
        </div>
        <div class='col-sm-12 col-md-6 col-lg-6'>
          <strong>Bio: </strong>
          <button class="btn btn-sm btn-danger flag" ng-click="flagBio($index, 'instructor_accounts')" ng-show="account.bio_is_flagged == false">Flag Bio</button>
          <button class="btn btn-sm btn-danger flag" ng-click="unflagBio($index, 'instructor_accounts')" ng-show="account.bio_is_flagged == true">Unflag Bio</button>
          <p>{{account.biography}}</p>
          <strong>Image: </strong>
          <button class="btn btn-sm btn-danger flag" ng-click="flagImg($index, 'instructor_accounts')" ng-show="account.img_is_flagged == false">Flag Image</button>
          <button class="btn btn-sm btn-danger flag" ng-click="unflagImg($index, 'instructor_accounts')" ng-show="account.img_is_flagged == true">Unflag Image</button>
          <br/>
          <img src="{{account.profile_image}}" class='image'>
        </div>
      </div>
      <h1>Admin Accounts</h1>
      <div class='account row border' ng-repeat='account in admin_accounts'>
        <div class='col-sm-12 col-md-6 col-lg-6'>
          <div><strong>Name: </strong>{{account.first_name}} {{account.last_name}}</div>
          <div><strong>Email: </strong>{{account.email}}</div>
        </div>
        <div class='col-sm-12 col-md-6 col-lg-6'>
          <strong>Bio: </strong>
          <button class="btn btn-sm btn-danger flag" ng-click="flagBio($index, 'admin_accounts')" ng-show="account.bio_is_flagged == false">Flag Bio</button>
          <button class="btn btn-sm btn-danger flag" ng-click="unflagBio($index, 'admin_accounts')" ng-show="account.bio_is_flagged == true">Unflag Bio</button>
          <p>{{account.biography}}</p>
          <strong>Image: </strong>
          <button class="btn btn-sm btn-danger flag" ng-click="flagImg($index, 'admin_accounts')" ng-show="account.img_is_flagged == false">Flag Image</button>
          <button class="btn btn-sm btn-danger flag" ng-click="unflagImg($index, 'admin_accounts')" ng-show="account.img_is_flagged == true">Unflag Image</button>
          <br/>
          <img src="{{account.profile_image}}" class='image'>
        </div>
      </div>
    </div>
    <div id="members" class="container tab" ng-show="members">
      <h1>Members</h1>
      <button class="btn btn-primary add" data-toggle="modal" data-target="#print-sheet">Print Bursar Sheet</button>
      <div class="account row border" ng-repeat="member in member_accounts">
        <div class="col-sm-12 col-md-4 col-lg-5">
          <div><strong>Name: </strong>{{member.first_name}} {{member.last_name}}</div>
          <div><strong>Email: </strong>{{member.email}}</div>
          <div><strong>RIN: </strong>{{member.rin}}</div>
          <div>
            <strong>Payment Method: </strong>
            <div class='form-group'>
              <select ng-model="method" name='method' class='dropdown form-control'>
                <option class="form-control" ng-selected="member.payment_method=='cash'" value="cash">Cash</option>
                <option class="form-control" ng-selected="member.payment_method=='check'" value="check">Check</option>
                <option class="form-control" ng-selected="member.payment_method=='credit'" value="credit">Credit</option>
                <option class="form-control" ng-selected="member.payment_method=='bursar'" value="bursar">Bursar</option>
              </select>
            </div>
          </div>
          <div>
            <strong>Payment Status: </strong>
            <div class='form-group'>
              <select ng-model="payment" name='payment' class='dropdown form-control'>
                <option class="form-control" ng-selected="!member.paid" value="0">Unpaid</option>
                <option class="form-control" ng-selected="member.paid" value="1">Paid</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-5">
          <strong>Classes Enrolled:</strong>
          <form class="member-classes">
            <div class="form-group classes" ng-repeat="class in member.classes">
              <label for="{{class._id}}">{{class.name}}</label>
              <button class="btn btn-sm btn-secondary" ng-click="removeMember(member.email, class._id, $index)">Remove</button>
            </div>
          </form>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <div class="float"><button class="btn btn-sm btn-danger" ng-click="deleteObject(member.email)" data-toggle="modal" data-target="#confirm-delete-mem">Delete</button></div>
          <div class="float"><button class="btn btn-sm btn-secondary" ng-click="emailMemberModal(member.email)" data-toggle="modal" data-target="#email-member-modal">Email member</button></div>
        </div>
      </div>
    </div>
    <!-- Modals -->
    <!--  Create Account Modal  -->
    <div class="modal fade" id="add-account">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create new Instructor Account</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" ng-repeat="error in createAcctErrs">{{error}}</div>
            <form id="sign-up-form">
              <div class="form-group">
                <label for="first-name" class="form-control-label">First Name:</label>
                <input type="text" class="form-control input-text" id="first-name" name="first-name" ng-model="createAcctFName" required>
              </div>
              <div class="form-group">
                <label for="last-name" class="form-control-label">Last Name:</label>
                <input type="text" class="form-control input-text" id="last-name" name="last-name" ng-model="createAcctLName" required>
              </div>
              <div class="form-group">
                <label for="email" class="form-control-label">Email:</label>
                <input type="email" class="form-control input-text" id="email" name="email" ng-model="createAcctEmail" required>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary signup" ng-click="createAccount()" id="login-submit" data-dismiss="modal">Create account</button>
          </div>
        </div>
      </div>
    </div>
    <!--  Send Email to Individual Modal  -->
    <div class="modal fade" id="email-member-modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Send an Email</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" ng-repeat="warning in emailWarnings">{{warning}}</div>
            <div class="alert alert-success" ng-show="emailSuccess">Email successfully sent.</div>
            <form>
              <div class="message">
                <strong>Subject: </strong><br/>
                <input type="text" ng-model="indSubject" class="form-control" />
                <strong>Message: </strong><br/>
                <textarea ng-model="indMessage" class="form-control" rows="8" cols="60"></textarea>
              </div>
            </form>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" ng-click="emailInd()">Send Email</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  Confirm Delete Modal  -->
    <div class="modal fade" id="confirm-delete">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="message mt-2 mb-4">
              Are you sure you want to delete {{className}}? This action cannot be undone.
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteCourse()">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!--  Confirm Member Delete Modal  -->
    <div class="modal fade" id="confirm-delete-mem">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="message mt-2 mb-4">
              Are you sure you want to delete {{delete_object}}? This action cannot be undone.
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteMember()">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!--  Confirm Archive Modal  -->
    <div class="modal fade" id="confirm-archive">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="message mt-2 mb-4">
              Are you sure you want to archive {{className}}? This action cannot be undone.
            </div>
            <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="archiveCourse()">Archive</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery, Bootstrap JS, angular -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="/resources/js/admin.js"></script>
  </body>
</html>
