<!doctype html>
<html lang="en" ng-app="mueller-sign-up">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/resources/css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <title>Mueller Center</title>
  </head>
  <body ng-controller="controller">
    <div id="header-container">
      <img id="banner" src="/resources/img/banner.jpg"/>
      <nav class="header">
        <a href="https://union.rpi.edu/content/mueller-center">
          Mueller Center Fitness
        </a>
      </nav>
    </div>
    <div id="container">
      <div id="more-info">
        <h4 class="align-center">Spring 2018 Classes<button id="details-btn" class="btn btn-sm" ng-click="toggle_show()">{{detail_text}}</button></h4>
      </div>
      <aside id="sidebar">
        <h3 class="align-center">Spring 2018 Classes</h3>
        <h5 class="align-center">New Classes Every Semester!<br/>Open to the public.</h5>
        <p id="sidebar-info">
        <strong>13-Week Class Sessions:</strong>
        February 5, 2018 - May 4, 2018 <br/>
        &nbsp;&nbsp;$40 for one class a week<br/>
        &nbsp;&nbsp;$80 for two classes a week<br/><br/>
        <a href="/instructors" class="link">Learn about our Instructors</a><br/>
        <strong>Questions?</strong><br/>
        Contact Donna Sutton at:<br/>
        &nbsp;&nbsp;Email: <a href="mailto:sutta@rpi.edu">sutta@rpi.edu</a><br/>
        &nbsp;&nbsp;Phone: (518) 276-2874<br/><br/>
        Classes are taught by professional instructors. Room assignments are subject to change. ALL classes are subject to cancellation due to low participation numbers and are subject to change in class format, instructor, and class time as needed.
        </p>
        <div id="links">
          <a href="#" class="link">Instructor Sign In</a>
        </div>
        <div id="social">
          <a class='social-icons fa fa-facebook' href='https://www.facebook.com/muellercenter'></a>
          <a class='social-icons fa fa-twitter' href='https://twitter.com/RPIMuellerCent'></a>
          <a class='social-icons fa fa-instagram' href='https://instagram.com/mueller_center_rpi/'></a>
          <a class='social-icons fa fa-flickr' href='https://www.flickr.com/photos/107626924@N07/sets/72157648355787600/'></a>
        </div>
      </aside>
      <div id="content">
        <div id="classes">
          <div class='row table-heading'>
            <div class='class-info-header col-sm-4 col-md-4 col-lg-4'>Class Name</div>
            <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>Day(s)</div>
            <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>Time</div>
          </div>
          <div id="accordion" role="tablist" aria-multiselectable="true">
            <div class="card">
              <div class="card-header" role="tab" id="headingOne">
                <h5 class="mb-0 panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    <div class='row'>
                      <div class='class-info-header col-sm-4 col-md-4 col-lg-4'>Pilates</div>
                      <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>Monday &amp; Thursday</div>
                      <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>12:00pm</div>
                    </div>
                  </a>
                </h5>
              </div>
              <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="card-block">
                  <button class='btn signup' data-toggle="modal" data-target="#sign-up" ng-click="class('Pilates')">Sign Up</button>
                  <span class="mobile-show"><strong>Day(s):</strong> Monday &amp; Thursday</span>
                  <span class="mobile-show"><strong>Time:</strong> 12:00pm</span>
				  <span><strong>Instructor:</strong> Deb DerGurahian</span>
                  <span><strong>Email:</strong> <a href="mailto:deb@gmail.com">deb@gmail.com</a></span>
                  <span><strong>Room:</strong> 2</span>
                  <p class='class-description'><strong>Class Description:</strong> A system of movement which are designed to improve physical strength, flexibility, posture and mental awareness. This multi-level class, with hands on instruction, will change the way you move, think and feel. Please bring a mat!!</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingTwo">
                <h5 class="mb-0 panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <div class='row'>
                      <div class='class-info-header col-sm-4 col-md-4 col-lg-4'>Midday Yoga</div>
                      <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>Monday</div>
                      <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>12:00pm</div>
                    </div>
                  </a>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-block">
                  <button class='btn signup' data-toggle="modal" data-target="#sign-up" ng-click="class('Midday Yoga')">Sign Up</button>
                  <span class="mobile-show"><strong>Day(s):</strong> Monday</span>
                  <span class="mobile-show"><strong>Time:</strong> 12:00pm</span>
				  <span><strong>Instructor:</strong> Jennifer Karius</span>
                  <span><strong>Email:</strong> <a href="mailto:jen@gmail.com">jen@gmail.com</a></span>
                  <span><strong>Room:</strong> 3</span>
                  <p class='class-description'><strong>Class Description:</strong> A strong class that creates a total body workout and serves to clear the mind. Gentle awareness reminders and techniques are given to link the connection of the breath to each pose class combines elements of different systems. Expect to lengthen, strengthen and stretch the body and prepare the mind for meditation.</p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" role="tab" id="headingThree">
                <h5 class="mb-0 panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    <div class='row'>
                      <div class='class-info-header col-sm-4 col-md-4 col-lg-4'>Zumba</div>
                      <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>Thursday</div>
                      <div class='class-info-header align-right mobile-hide col-sm-4 col-md-4 col-lg-4'>5:00pm</div>
                    </div>
                  </a>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="card-block">
                  <button class='btn signup' data-toggle="modal" data-target="#sign-up" ng-click="class('Zumba')">Sign Up</button>
                  <span class="mobile-show"><strong>Day(s):</strong> Thursday</span>
                  <span class="mobile-show"><strong>Time:</strong> 5:00pm</span>
				  <span><strong>Instructor:</strong> Karen Stern</span>
                  <span><strong>Email:</strong> <a href="mailto:karen@gmail.com">karen@gmail.com</a></span>
                  <span><strong>Room:</strong> 1</span>
                  <p class='class-description'><strong>Class Description:</strong> Are you ready to party yourself into shape? Forget the workout; let’s just lose ourselves in the music. Classes feature exotic rhythms set to high-energy music beats. Before you know it, you’ll be getting fit and your energy levels will be soaring! It’s easy to do, effective and totally exhilarating.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="sign-up">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Sign up for {{class_name}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form id="sign-up-form">
                <div class="form-group">
                  <label for="first-name" class="form-control-label">First Name:</label>
                  <input type="text" class="form-control" id="first-name" name="first-name" required>
                </div>
                <div class="form-group">
                  <label for="last-name" class="form-control-label">Last Name:</label>
                  <input type="text" class="form-control" id="last-name" name="last-name" required>
                </div>
                <div class="form-group">
                  <label for="email" class="form-control-label">Email:</label>
                  <input type="text" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                  <span class='form-control-label'>Payment Method:</span>
                  <label for="cash" class="payment-method-label form-control-label">Cash</label>
                  <input type="radio" class="payment-method form-control" id="cash" value="cash" name="payment" ng-model="payment" checked="checked" required>
                  <label for="credit" class="payment-method-label form-control-label">Credit</label>
                  <input type="radio" class="payment-method form-control" id="credit" value="credit" name="payment" ng-model="payment">
                  <label for="bursar" class="payment-method-label form-control-label">Bursar</label>
                  <input type="radio" class="payment-method form-control" id="bursar" value="bursar" name="payment" ng-model="payment">
                  <div class="form-group" ng-show="payment=='bursar'">
                    <label for="rin" class="form-control-label">RIN:</label>
                    <input type="text" class="form-control" id="rin" name="rin">
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn signup" id="login-submit">Sign up</button>
            </div>
          </div>
        </div>
    </div>
<!--
      <aside id="sidebar">
        <h3 class="align-center">Spring 2018 Classes</h3>
        <h5 class="align-center">New Classes Every Semester!<br/>Open to the public.</h5>
        <p id="sidebar-info">
        <strong>13-Week Class Sessions:</strong>
        February 5, 2018 - May 4, 2018 <br/>
        &nbsp;&nbsp;$40 for one class a week<br/>
        &nbsp;&nbsp;$80 for two classes a week<br/><br/>
        <a href="#" class="link">Learn about our Instructors</a><br/>
        <strong>Questions?</strong><br/>
        Contact Donna Sutton at:<br/>
        &nbsp;&nbsp;Email: sutta@rpi.edu<br/>
        &nbsp;&nbsp;Phone: (518) 276-2874<br/><br/>
        Classes are taught by professional instructors. Room assignments are subject to change. ALL classes are subject to cancellation due to low participation numbers and are subject to change in class format, instructor, and class time as needed.
        </p>
        <div id="links">
          <a href="#" class="link">Instructor Sign In</a>
        </div>
        <div id="social">
          <a class='social-icons fa fa-facebook' href='https://www.facebook.com/muellercenter'></a>
          <a class='social-icons fa fa-twitter' href='https://twitter.com/RPIMuellerCent'></a>
          <a class='social-icons fa fa-instagram' href='https://instagram.com/mueller_center_rpi/'></a>
          <a class='social-icons fa fa-flickr' href='https://www.flickr.com/photos/107626924@N07/sets/72157648355787600/'></a>
        </div>
      </aside>
-->
    </div>

    <!-- jQuery, Bootstrap JS, angular -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
    <script src="/resources/js/index.js"></script>
  </body>
</html>